<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>loginUrls</key>
	<array>
		<dict>
			<key>domain</key>
			<string>broadcloud.eu</string>
			<key>hostname</key>
			<string>https://apps.broadcloud.eu</string>
			<key>locale</key>
			<string>it_IT</string>
			<key>EU</key>
			<string>Advanced Setup</string>
			<key>xsiactionsstring</key>
			<string>broadcloud.eu</string>
		</dict>
	</array>
</dict>
</plist>
